body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
  background: rgb(122,188,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

button:focus {outline:0;}

.card-stack {
  width: 100%;
}

.card-stack-title {
  margin-bottom: 60px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 300px;
  width: 500px;
  max-width: 90%;
  padding-top: 15px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.card-helper-text {
  position: absolute;
  width: 500px;
  text-align: center;
  top: 10px;
  color: #999;
  font-size: 12px;
  cursor: pointer;
}

.card-front {
  flex-grow: 2;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
}
.card-front-content {
  align-self: center;
}
.card.flipped .card-front {
  flex-grow: 0;
}

.card-back {
  padding-right: 15px;
  padding-left: 15px;
  flex-grow: 2;
  display: flex;
  align-content: center;
  justify-content: center;
}
.card-back-content {
  align-self: center;
}

.card-navigation {
  flex-grow: 0;
  height: 45px;
  display: flex;
}

.navigation-button {
  width: 50%;
  height: 45px;
  border: none;
  background-color: white;
  text-align: center;
  cursor: pointer;

  transition: background-color 0.2s, box-shadow 0.2s;
}

.mark-card-incorrect { 
  position: absolute;
  left: 0;
  background-color: #F06E6E;
  border-bottom-left-radius: 5px;
  color: white;
}
.mark-card-incorrect:hover {
  background-color: #DE6666;
}

.mark-card-correct { 
  position: absolute;
  right: 0;
  background-color: #70E094;
  border-bottom-right-radius: 5px;
  color: white;
}
.mark-card-correct:hover {
  background-color: #6ADA90;
}

.missed-cards {
  flex-grow: 2;
}

.button__primary {
  height: 45px;
  width: 250px;
  border: none;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  background-color: rgba(96,171,248,1);
  border-radius: 5px;
  color: white;
  cursor: pointer;

  transition: background-color 0.2s;
}
.button__primary:hover {
  background-color: rgba(64,150,238,1);
}

.button__secondary {
  width: 250px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
  color: rgba(96,171,248,1);
  cursor: pointer;
}
.button__secondary:hover {
  color: rgba(64,150,238,1);
}


.review-all-cards-button {
  margin-bottom: 30px;
}